body {
    margin: 0px;
    padding: 0px;
}


.location-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.location-header {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.location-header h3 {
    font-size: 48px;
}


.kaleen-content {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    margin-right: 20px;
}

.kaleen-content h4 {
    font-size: 28px;
    margin: 0px;
}

.trading-hours h4 {
    font-size: 28px;
    margin: 0px;
}

.kaleen-content p {
    font-size: 18px;
}

.amaroo-content {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    margin-left: 20px;
}

.amaroo-content h4 {
    font-size: 28px;
    margin: 0px;
}

.amaroo-content p {
    font-size: 18px;
}

.contact-container {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contact-container a {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

.contact-container a:hover{
    color: black;
}

.socials{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials li{
    list-style: none;
    margin-right: 10px;
}

.socials li a{
    font-size: 2em;
}

.socials li a:hover{
    color: black;
}
