body {
    margin: 0px;
    padding: 0px;
}

.location-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.location-header {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    background-color: #D3D3D3;
    height: 10%;
    width: 100%;
    border-radius: 2rem;
}

.location-header h3 {
    font-size: 48px;
}


.kaleen-content {
    background-color: #D3D3D3;
    height: 40%;
    border-radius: 2rem;

    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    margin-right: 20px;
    margin-top: 20px;
}

.kaleen-content h4 {
    font-size: 28px;
    margin: 0px;
}

.kaleen-content p {
    font-size: 18px;
}

.amaroo-content {
    background-color: #D3D3D3;
    height: 40%;
    border-radius: 2rem;

    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    margin-left: 20px;
    margin-top: 20px;
}

.amaroo-content h4 {
    font-size: 28px;
    margin: 0px;
}

.amaroo-content p {
    font-size: 18px;
}

.contact-container {
    flex: auto;
    text-align: center;
    margin-left: 15%;
}

.contact-container h3 {
    color: white;
}

.contact-container a {
    display: block;
    text-decoration: none;
    color: white;
}

.contact-container a:hover{
    color: black;
}

.socials{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    margin-right: 40px;
}

.socials li{
    list-style: none;
    margin-right: 10px;
}

.socials li a{
    color: white;
    font-size: 2em;
}

.socials li a:hover{
    color: black;
}

.visit-container {
    flex: auto;
    text-align: center;
    margin-right: 15%;
}

.visit-container h3 {
    color: white;
}

.visit-container p {
    color: white;
}

.horizontal-line {
    border: 1px solid white;
    width: 200px;
}