.footer {
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("../images/homeBackground.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.footer a {
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-decoration: none;
    font-weight: bolder;
}

.footer p {
    color: rgb(255, 255, 255);
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
}