*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background: rgba(218, 160, 109, 0.7);
}

* {box-sizing:border-box}

/* container */
.responsive-two-columns {
  display:flex;
  flex-wrap:wrap;
}

/* columns */
.responsive-two-columns > * {
  width:100%;
  padding:1rem;
}

/* tablet breakpoint */
@media (min-width:768px) {
  .responsive-two-columns > * {
      width:50%;
  }
}

/* flex box column layout */
.padded-boxes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

/* boxes */
.padded-boxes > * {
  width: 100%;
  background:#eee;
  border-radius: .4rem;
}

/* headings */
.padded-boxes .heading {
  background:#f97171;
  margin: 0;
  padding: 1rem;
  border-top-left-radius: .4rem;
  border-top-right-radius: .4rem;
}

/* padded content */
.padded-boxes .padded {
  padding:.1rem 1rem;
}

.story {
  display: inline;
  padding-top: 120px;
  padding-left: 50px;
  text-align: center;
}
  
/* Slideshow container */
.slideshow-container {
  max-width: 600px;
  position: relative;
  margin: auto;
  padding-top: 100px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: 350px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  padding-top: 200px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  margin-top: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Colour change for dot hover */
.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
