*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: #eee;
}

.container{
    margin: 20px 200px;
  width: 400px;
  height: 400px;
  display:grid;
  grid-template-columns: 200px 200px;
  grid-row: 2 / 2;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
.box{
    padding: 10px;
    border-radius:10px;
    color:#fff;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size: 40px;
    font-family:sans-serif;
    color: black;
}
}

.background{
    /* background-image: url("../u-and-co-1/images/staff.jpg"); */
    background: rgba(218, 160, 109, 0.7);
    height: 100%;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

.h2{
    position: absolute;
    top: 100px;
    right: 500px;
}