/* Add a black background color to the top navigation */
.nav {
    background-color: #d48989;
    overflow: hidden;
    width: auto;
    border-radius: 25px;
    position: absolute;
    margin: auto;
  }

  .nav ul {
    list-style-type: none;
    display: inline-block;
  }

  /* Style the links inside the navigation bar */
  .nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .nav a:hover {
    background-color: #eca0a0;
    color: black;
  }
  
  /* Add an active class to highlight the current page */
  .nav a.active {
    background-color: #cc6224;
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .nav .icon {
    display: none;
  }